<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
 		<head>
 			<meta charset = "UTF-8">
 			<title> Add Cinema </title>
 			<link rel ="stylesheet" type="text/class" href=registration.css>
 		</head>
 		
 		<body>
 			<div class="form">
 				<h1>Dodaj bioskop<h1>
					<form th:action="@{/add-cinema}" th:object="${cinema}" method="post">
					<label>Naziv</label> 
					<input type="text" th:field="*{name}"/> </br>
					<label>Adresa<label>
					<input type="text" th:field="*{adress}"/> </br>
					<label>Telefon<label>
					<input type="text" th:field="*{phoneNumber}"/> </br>
					<label>Email<label>
					<input type="text" th:field="*{eMail}"/> </br>
					<button type="submit">Dodaj bioskop</button>
  					</form>
  			</div>		 	
 		</body>
 	</html>