<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Cinemas</title>
	</head>
	<body>
		<br><br>
		<table>
   				<tr>
      			  	<th>Naziv</th>
        			<th>Adresa</th>
        			<th>Telefon</th>
       				<th>Email</th>
    			</tr>
   					<tr th:each="cinema : ${cinemas}">
        			<td th:text="${cinema.name}"></td>
        			<td th:text="${cinema.adress}"></td>
        			<td th:text="${cinema.phoneNumber}"></td>
        			<td th:text="${cinema.eMail}"></td>
   				</tr>
		</table>
	</body>
</html>