<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	     <script src="/js/jquery.min.js"></script>
    	 <script type="text/javascript" src="/js/movie.js"></script>
  		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   		 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     	 <link rel="stylesheet" type="text/css" href="mystyle.css">
	    <title>Home Page</title>
	    <meta charset="utf-8"/>
	</head>
	<body>
		<nav class="nav-wraper teal lighten-3">
			<div class="container">
				<a href="#" class="brand-logo">Bioskop</a>
				<ul class="right">
					<li><a onclick="location.href = 'registration.html'">Registruj se</a></li>
					<li><a onclick="location.href = 'login.html'">Uloguj se</a></li>
				</ul>
			</div>
		</nav>
		<div class="row" id="moviesStuff">
	    	<div class="col s3">
				<form id="searchForm">
					 <div class="row">
						<label><h4>Pretraga</h4></label>
					 </div>
					 <div class="row">
					 	<div class="input-field col s12">
				            <label for="naziv" class="black-text text-darken-2">Naziv</label>
					        <input type="text" id="naziv">
						</div>
					 </div>
					 <div class="row">
					 	<div>
						 	 <label for="zanr" class="black-text text-darken-2">Zanr</label>
							 <select id="zanr" class="white lighten-2">
							      <option value="">None</option>
								  <option value="Action">Action</option>
								  <option value="Thriller">Thriller</option>
								  <option value="Comedy">Comedy</option>
								  <option value="Documentary">Documentary</option>
								  <option value="SciFi">Sci-Fi</option>
								  <option value="Historical">Historical</option>
						     </select>
				     	</div>
					 </div>
					 <div class="row">
					 	<div class="input-field col s12">
					 		<label for="opis" class="black-text text-darken-2">Opis</label>
					 		<input type="text" id="opis">
					 	</div>
					 </div>
					 <div class="row">
					 	<div class="input-field col s6">
					 		<label for="ocenaMin" class="black-text text-darken-2">Ocena min</label>
				     		<input type="number" id="ocenaMin">
				     	</div>
					 	<div class="input-field col s6">
				     		<label for="ocenaMax" class="black-text text-darken-2">Ocena max</label>
				     		<input type="number" id="ocenaMax">
				     	</div>
					 </div>
					 <div class="row">
					 	<div class="input-field col s6">
				     		<label for="cenaMin" class="black-text text-darken-2">Cena min</label>
				     		<input type="number" id="cenaMin">
				     	</div>
				     	<div class="input-field col s6">
				     		<label for="cenaMax" class="black-text text-darken-2">Cena max</label>
				     		<input type="number" id="cenaMax">
				     	</div>
				     </div>
				     <div class="row">
					 	<div class="input-field col s12">
				     		<label class="black-text text-darken-2">Datum:</label>
					 		<input placeholder="" type="date" id="datum" min="2020-29-06" max="2020-12-08">
					 	</div>
				     </div>
					 <div class="row">
					 	<div class="input-field col s12">
					 		<label class="black-text text-darken-2">Termin</label>
					 		<input placeholder="" type="time" id="termin" min="11:00" max="22:00">
					 	</div>
				     </div>
					 <div class="row">
					 	<div class="input-field col s12">
			         		<input type="submit" value="Pretrazi" class="btn waves-effect waves-light">
			         	</div>
				     </div>
				</form>
	    	</div>
	    	<div class="col s9">
	    		<div class="row">
	    			<div class="col s4">		
					 <label for="sort">Sortiraj</label>
						 <select id="sort">	  
							  <option value="title">Naziv</option>
							  <option value="genre">Zanr</option>
							  <option value="averageRating">Ocena</option>
							  <option value="duration">Trajanje</option>
					     </select>
				     </div>
				</div>
	    		<div class="row">
			        <table id="movies">
			            
			        </table>
		        </div>
	    	</div>
    	</div>
    	
    	<div id="movieProjectionsStuff" hidden>
    		<button class="btn waves-effect waves-light" id="back">Nazad</button>
    		<div class="container">
		        <table id="movieProjections">
		            
		        </table>
	    	</div>
    	</div>
	</body>
	
	